<nav-bar-page></nav-bar-page>

<!-- ! INTRO MESSAGE -->
<ng-template #instructions>
  <div class="row p-3">
    <div class="col-12 col-md-6 col-lg-7">
      <div class="alert alert-info" role="alert">loading...</div>
    </div>
  </div>
</ng-template>

<!-- ! SECTION -->
<div class="infocard" *ngIf="weatherNow; else instructions">
  <div class="row">
    <!-- * MAIN-HEADING -->
    <div class="">
      <div class="topcont">
        <div class="allcont">
          <div class="currentlocation currentmain">
            <h1>{{ location.name }}</h1>
            <h3>{{ weatherNow.main.temp | number : "1.0-0" }} °C</h3>
            <div class="condition">
              <img src="../../../../assets/icons/nubladologo.png" alt="">
              <p class=""> {{ weatherNow.weather![0].main }}</p>
            </div>
          </div>
          <div class="currentlocationblank">
            <img src="../../../../assets/images/Captura de pantalla 2023-05-13 a la(s) 23.15.51.png" alt="Maps"
              style="width: 90%; height: 90%; border-radius: 15px; margin: 9px;">
          </div>
          <div class="currentbutton">
            <button class="buttonleft">°C</button>
            <button class="buttonright">°F</button>
          </div>
        </div>
      </div>
      <!-- <div class="p-3">{{ currentTime | date : "EEEE dd MMMM, HH:mm" }}</div> -->
      <!-- <div class="border-right p-3" id="sidebar">
        <hr /> -->
      <!-- * MAIN-CARD-WEATHER-INFO -->
      <!-- <app-main-card [weatherNow]="weatherNow"></app-main-card>
      </div> -->
    </div>
  </div>

  <!-- FORECAST -->

  <div class="infocont">

    <div class="forecast">

      <div class="sensinfo">
        <div class="sensrow">
          <p><img src="../../../../assets/icons/termometro.png" alt="termometer logo image"
              style="height: 27px; width: 27px;"> FEELS LIKE</p>
          <h5 class="sensletter">
            {{ weatherNow.main.feels_like | number : "1.0-0" }} °C
          </h5>
          <br>
          <p id="feels">
            {{this.getFeelDesc()}}
          </p>
        </div>
        <div class="sensrow">
          <p><img src="../../../../assets/icons/gota-de-liquido.png" alt="Drop logo image"
              style="height: 27px; width: 27px;"> HUMIDITY</p>
          <h5 class="sensletter">
            {{ weatherNow.main.humidity }} %
          </h5>
          <br>
          <p id="humidity">
            {{ this.getHumidityDesc()}}
          </p>
        </div>
        <div class="sensrow">
          <p><img src="../../../../assets/icons/ver.png" alt="Eye logo image" style="height: 27px; width: 27px;">
            VISIBILITY</p>
          <h5 class="sensletter">
            {{ weatherNow.visibility /1000 | number : "1.0-0" }} km
          </h5><br>
          <p id="visibility">
            {{ this.getVisibilityDesc()}}
          </p>
        </div>
        <div class="sensrow">
          <P><img src="../../../../assets/icons/viento.png" alt="Wind logo image" style="height: 27px; width: 27px;">
            WIND</P>
          <h5 class="sensletter">
            {{ weatherNow.wind.speed | number : "1.0-0" }} km/h
          </h5>
          <br>
          <p id="wind">
            {{ this.getWindDesc()}}
          </p>
        </div>
      </div>

      <div class="forecastinfo">
        <h4 class="infotitle">Forecast</h4>
        <div class="row">
          <app-three-day-forecast [timelineForOneDay]="timelineForOneDay"></app-three-day-forecast>
        </div>
        <br><br>
        <div class="row">
          <app-five-day-forecast [fetched5dayWeatherData]="fetched5dayWeatherData"></app-five-day-forecast>
        </div>
      </div>

    </div>

  </div>

  <!-- <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row p-3">
        <div class="col-12 pt-2">

          <h5>5 day forecast</h5>
          <app-five-day-forecast [fetched5dayWeatherData]="fetched5dayWeatherData"></app-five-day-forecast>
        </div>
      </div>
    </div>
  </div> -->


</div>