<nav-bar-page></nav-bar-page>
<div class="infocard">

    <br>
    <h1 style="color: white; text-align: center;">Team</h1>
    <br>

    <div class="teamscont">
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="../../../../assets/images/europe.jpg" alt="" style="width: 150px; height: 100px; ">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
    </div>

    <div class="teamscont">
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
    </div>

    <div class="teamscont">
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
        <div class="teamnames">
            <h2>Team Members</h2>
            <img src="" alt="">
            <p>rol</p>
            <address>team@gmail.com</address>
            <button class="teaminfobutton">Info</button>
        </div>
    </div>
    <br>

</div>