<nav-bar-page></nav-bar-page>

<div class="infocard" style="height: 600px; color: white;">


  <br>
  <h1 style="text-align: center;">Contact</h1>
  <br><br>

  <div class="todocontact">
    <div class="contentcontact">
      <form>
        <input type="text" name="name" id="" placeholder="Full Name" style="color: white;">
        <br><br>
        <input type="email" name="email" id="" placeholder="Email" style="color: white; background-color: none;">
        <br><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Leave a Message"></textarea>
        <br><br>
        <button class="teaminfobutton"> Contact Us </button>
      </form>

    </div>

    <div class="contentcontact">
      <h5>
        If you have any questions or <br> problems please feel free to <br> Contact Us.
      </h5>
      <img src="../../../../assets/images/london.jpg" alt="" style="height: 70%; width: 100%; border-radius: 15px;">
    </div>
  </div>
  <br><br>


</div>