/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(assets/images/snow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-transform: capitalize;
}

.infocard {
  background-color: rgba(0, 0, 0, 0.8);
  width: 93.5%;
  margin: 3%;
  border-radius: 15px;
}

.navbar {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.shared-search-bar {
  border-radius: 10px;
  border: none;
  width: 500px;
  height: 40px;
}

.topcont {
  display: flex;
  width: 100%;
  height: 300px;
}

.allcont {
  display: flex;
  width: 100%;
  height: 100%;
}


.currentlocation {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 46.33%;
  color: white;
  padding-top: 6%;
}

.currentlocationblank {
  width: 40.33%;
}

.currentbutton {
  padding: 9px;
  display: flex;
  justify-content: end;
  width: 13.33%;
}

.currentbutton button {
  width: 50px;
  height: 40px;
  border: none;
  color: white;
}

.buttonleft {
  background-color: #49319D;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.buttonright {
  background-color: rgba(72, 49, 157, 0.2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.currentlocation img {
  width: 40px;
  height: 40px;
}

.forecast {
  display: flex;
}

.infotitle {
  color: white;
}

.sensinfo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 400px;
  margin-left: 6%;
}

.sensletter {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #FFFFFF;

}

.sensrow {
  width: 164px;
  height: 164px;
  margin: 5px;
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(72, 49, 157, 0.2);
  border-radius: 22px;
}

.forecastinfo {
  width: 59%;
  margin-left: 6%;
}

.hourscast {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.castcard {
  background-color: rgba(72, 49, 157, 0.2);
  color: white;
  width: 60px;
  height: 130px;
  margin: 5.5px;
  padding-top: 20px;
  border-radius: 50px;
  text-align: center;
}

.forecastimg {
  width: 39.38px;
  height: 39.38px;
}


/* Team css */

.teamscont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamnames {
  background-color: #48319dd2;
  color: white;
  width: 200px;
  height: 300px;
  border-radius: 22px;
  margin: 15px;
  text-align: center;
}

.teaminfobutton {
  color: white;
  background-color: #3d2885;
  border-radius: 7px;
}

.todocontact {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}

.contentcontact {
  width: 45%;
  margin: 0.5%;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px white solid;
  width: 100%;
}

textarea {
  border: none;
  background-color: transparent;
  border-bottom: 2px white solid;
  width: 100%;
}
